@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'anselmSans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
        transition: .2s;
        color: #bebebe;
    }

    &:hover {
      & span {
        color: #000;
    }
}
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    &.text {
        
    }
}